/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #222;
}

p {
  font-family: "Roboto", sans-serif;
  text-align: justify;
}

/* common section */
.section-heading h3 {
  position: relative;
  padding-bottom: 10px;
  font-family: "Roboto", sans-serif;
}

.section-heading h3:after {
  position: absolute;
  width: 100px;
  content: "";
  background: red;
  height: 5px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 100%;
  border-radius: 10px;
}

.single-slide img {
  width: 100%;
  height: 70vh;
}

.single-service-item img {
  height: 250px;
}

/* service start */
.single-service-item {
  border: 1px solid #f3f3f3;
  transition: 0.3s;
  border-radius: 0 0 10px 10px;
}

.single-service-item:hover {
  border: 1px solid #ef476f;
}

.service-content {
  padding: 10px;
}

.single-service-item h5 {
  line-height: 26px;
  font-weight: normal;
  transition: 0.3s;
  font-family: "Roboto", sans-serif;
}

.single-service-item p {
  margin: 0;
}

/* service end */

/* breadcrumb start */

.breadcrumb-area {
  background: #d60026;
}

.breadcrumb-item {
  color: #fff !important;
  font-size: 20px;
}

.breadcrumb-item a {
  color: #000;
}

.breadcrumb {
  margin: 0;
}

/* breadcrumb end */

/* faq start */
.accordion-button:not(.collapsed) {
  color: inherit !important;
  background-color: inherit !important;
  box-shadow: none !important;
}

.accordion-item.mb-3 {
  border-top: 1px solid #ddd;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

/* faq end */

/* location start */
.location-content {
  font-family: "Roboto", sans-serif;
}

.location-area {
  background: ghostwhite;
}

.location-map img {
  width: 100%;
  height: 700px;
}

/* location end */

/* testimonial start */

.testimonial-photo img {
  width: 150px !important;
  height: 150px;
  border-radius: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.testimonial-photo {
  margin-bottom: 20px;
}

.testimonial-content h4 {
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
}

.review_active .owl-dot {
  width: 20px;
  background: red;
  height: 7px;
  margin: 0 2px;
  border-radius: 10px;
}

.review_active .owl-dots {
  display: flex;
  justify-content: center;
}

.review_active .owl-dot.active {
  background: green;
  width: 15px;
}

/* testimonial end */

/* partnet start */
.partnet-area {
  border-top: 1px solid #ddd;
}

.single-partnet img {
  width: 100px !important;
  height: 40px;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
}

.single-partnet {
  position: relative;
  left: 0;
  right: 0;
}

/* partnet end */

/* footer start */
.footer-widget img {
  width: 50%;
}

.footer-widget h4 {
  text-transform: capitalize;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.footer-menu li {
  list-style: none;
}

.footer-menu {
  margin: 0;
  padding: 0;
}

.footer-menu li a {
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.address {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.social-links {
  margin-top: 10px;
}

.social-links a i {
  font-size: 20px;
  margin-right: 15px;
}

/* footer end */